/*Imports the Bootstrap CSS to provide some styles and components for website*/
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/*styles the image within tha text container*/
#text-image {
  border-radius: 50%;
  border-style: solid;
  border-color: #c0fdfb;
  max-width: 100%;
  height: auto;
}

/*adds padding to the full width container*/
.full-width-container {
    padding-left: 15px;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;

}
  body {
    /* Default background image for larger screens */
    background-image: url("/assets/images/forest-nature-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 600px) {
    body {
      /* Background image for smaller screens */
      background-image: url("/assets/images/forest-nature-background.jpg");
    }
  }

/*The style for the color, padding and alignment of header*/
header {
    background-color: #64b6ac;
    color: #fff;
    padding: 20px;
    text-align: center;
    max-width: 100%;
    height: auto; 
  
  }

/*The style for the color & font style*/
#text-box {
    color: #5f22d1;
    font-style: italic;
}

/*The style for the font size, weight, style, spacing, alignment and color for this element*/
#welcome {
    font-size: 50px;
    color: #5f22d1;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: .4em;
    text-transform: uppercase;
    text-align: center;
}

/*The style to align the font*/
#video {
    text-align: center;
}

/*The style for the margin, padding and alignment of image contaciner*/
.image-container {
    margin: 5px;
    padding: 0 10px;
    text-align: center;
    max-width: 100%;
    height: auto; 
  }

/*The style for the pics element to make image edges rounded and with a color border*/
#pics {
    border-radius:10%;
    border-style: solid;
    border-color: #c0fdfb;
    max-width: 100%;
    height: auto; 
}

@media screen and (max-width: 768px) {
.responsive-image {
  max-width: 100%;
  height: auto;
}
}

/*The style for the H1 element including alignment, margin, font weight & size and color*/
  h1 {
    text-align: left;
    font-weight: bold;
    margin: 0;
    font-size: 50px;
    color: #5f22d1; 
  }

/*The style for the H2 element including alignment, font weight & size and color*/
  h2 {
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    color: #5f22d1;
  }

#gallery {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  color: #5f22d1;
}
#gallerytext {
  text-align: center;
}

/*styling for the youtube video*/
  .gallery-item.video {
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    width: 40vw; 
    height: 25vw;
  }
 
/*styling for the youtube video*/
  .gallery-item.video:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }

/*styling for the youtube video iframe*/
  .gallery-item.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
  }

* {
  box-sizing: border-box;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: blue;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

/* Styles for the dropdown menu and items */
.dropdown-menu {
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  
  /* Styles for the toggle button on mobile */
  .navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  
  /* Media query for mobile */
  @media (max-width: 767px) {
    .navbar-nav {
      display: none;
      color:#5f22d1; 
    }
  
    .navbar-nav.show {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      color:#5f22d1;
    }
  
    .navbar-toggler {
      display: block;
    }
  }

/*styling for gallery page*/
/*The style for the gallery container element for Gallery page. Ensuring the images display in a grid with max 4 images in a row and a 10px gap*/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/*The styles the gallery items. Ensuring the images are in flexbox and centered*/ 
.gallery-item {
  display: flex;
  justify-content: center;
}

/*The styles the images on gallery page. Setting margin, height, width and border radius for images*/ 
.gallery-item img {
  margin: 20px;
  width: 90%;
  height: auto;
  border-radius: 10px;
}

/*adds media query to adjust the gallery image layout on smaller screens. Sets columns to autofit with min width of 200px and auto-rows to 200px*/
@media screen and (max-width: 600px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
  }
}

/*styling for contact page*/
/*styles the text alignment and padding for contact section on contact us page*/
#contact {
  padding: 10px;
  text-align: center;
 }

/*styles the form on the contact us page with margin, max-width, padding, border-radius and font-weight*/
#contact-form {
   margin: 0 auto;
   max-width: 25%;
   border-radius: 5px;
   font-weight: bold;
}

/*styles the placeholder font style, opacity and color*/
::placeholder {
   color: #64b6ac;
   opacity: 1;
   font-style: italic;
}

/*styles the placeholder text input field with color*/
::-ms-input-placeholder {
   color: #64b6ac;
}

/*styles margin to form-row for spacing*/
 .form-row {
   margin-bottom: 15px;
 }

/*styles lable element in a block display with margin for spacing*/
 label {
   display: block;
   margin-bottom: 5px;
 }

/*Styles the input fields and textarea with width, padding, border, and border-radius.*/
 input[type="text"],
 input[type="email"],
 textarea {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

/*Styles the button element with background color, text color, padding, border & border radius and cursor*/
 button[type="submit"] {
   background-color: #64b6ac;
   color: white;
   font-weight: bold;
   padding: 10px 15px;
   border: solid;
   border-radius: 3px;
   cursor: pointer;
 }

/*styles the send email button*/
 #send-email-btn {
   background-color: #64b6ac;
   color: #ffffff;
   font-weight: bold;
 }

/*Styles the send email button so that when hovered on the background color changes*/
 #send-email-btn:hover {
   background-color: #c955c9;
 }

/*Styles the footer*/
  footer {
    background-color: #8cd1e6;
    padding: 10px;
    text-align: center;
    margin-top: 7px;
  }
  
